/* ----------- content ------------- */

.content {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

/* ----------- title ------------- */

.title {
  display: block;
  font-family: var(--font-primary);
  letter-spacing: var(--spacing);
  font-size: .9rem;
  color: #ffffff;
  color: #acacac;
  text-transform: capitalize;
  margin-bottom: .6rem;
}

/* ----------- form ------------- */

.form {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  align-items: flex-end;
}

/* ----------- photo ------------- */

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.26rem;
  height: 2.26rem;
  width: 7rem;
  height: 7rem;
  border-radius: .3rem;
  overflow: hidden;
  background-color: #242424;
}

.photo_icon {
  display: block;
  width: 1.4rem;
  width: 1.6rem;
  fill: #cbcbcb;
}

/* ----------- options ------------- */

.options {
  display: flex;
  gap: 1.4rem;
}

@media screen and (max-width: 450px) {
  .options {
    display: grid;
  }
}

/* ----------- buttons ------------- */

.label,
.delete {
  display: block;
  cursor: pointer;
  font-family: var(--font-primary);
  letter-spacing: var(--spacing);
  font-size: .84rem;
  font-weight: 500;
  border: none;
  padding: .6rem 1rem;
  border-radius: .3rem;
}

.label {
  background-color: #242424;
  color: #a9cf6d;
  color: #a4ff65;
  color: var(--color-green);
}

.delete {
  background-color: #242424;
  color: #F96666;
}

.label_input {
  display: none;
}
