@font-face {
  font-family: 'Urbanist';
  src: url('../assets/Urbanist.woff2') format('woff2');
  font-weight: 1 1000;
}

:root {
  --color-sea: #92B8A6;
  --color-dark: #131417;
  --color-gray: #e9eaec;
  --color-lime: #a9cf6d;
  --color-green: #03c39a;
  --color-white: #ffffff;
  --color-olive: #c7cdc6;
  --color-yellow: #fccf6d;
  --color-blue: #1c2939;

  --color-alt: #cbcbcb;

  --spacing: .4px;
  
  --font-primary: 'Urbanist';
  
  --color-lime: #bffd7d;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*,
*:hover,
*:focus,
*:active {
  outline: none;
  box-shadow: none;
}

body {
  background-color: #D6DBDF;
  background-color: #ffffff;
  background-color: var(--color-dark);
  background-color: #0a0a0a;
}
