/* ------------ layout ------------ */

.layout {
  display: block;
  width: 100%;
}

/* ------------- main ------------ */

.main {
  display: block;
  width: 90%;
  max-width: 1124px;
  margin: 0 auto;
}
