/* ------------ navbar ------------ */

.navbar {
  display: block;
  width: 100%;
  border-bottom: solid 1px #242424;
}

.navbar_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1124px;
  margin: 0 auto;
  height: 5rem;
}

/* ------------ title navbar ------------ */

.navbar_title {
  display: flex;
  font-family: var(--font-primary);
  letter-spacing: var(--spacing);
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  gap: .4rem;
  align-items: center;
}

.navbar_icon {
  width: 1.3rem;
  fill: #a9cf6d;
  fill: #a4ff65;
}

/* ------------ options layout ------------ */

.options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ------------ notification button ------------ */

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.26rem;
  height: 2.26rem;
  border: none;
  background-color: #242424;
  cursor: pointer;
  border-radius: .3rem;
}

.notification_icon {
  display: block;
  width: 1rem;
  fill: #ffffff;
}

/* ------------ profile button ------------ */

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.26rem;
  height: 2.26rem;
  position: relative;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  overflow: hidden;
  background-color: #a9cf6d;
  background-color: #242424;
}

.profile::after {
  content: attr(data-label);
  color: #0a0a0a;
  font-weight: 600;
  font-family: var(--font-primary);
  font-size: .84rem;
  color: #a9cf6d;
}
