.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  border-bottom: solid 1px #242424;
  align-items: center;
  height: 5rem;
  padding: 0 1.4rem;
  justify-content: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.26rem;
  height: 2.26rem;
  border: none;
  background-color: #242424;
  cursor: pointer;
  border-radius: .3rem;
}

.button_icon {
  display: block;
  width: 1.2rem;
  fill: #ffffff;
}

.options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* start avatar */

.options_fullname {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.26rem;
  height: 2.26rem;
  position: relative;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  overflow: hidden;
  background-color: #a4ff65;
}

.options_fullname::after {
  content: attr(data-label);
  color: #0a0a0a;
  font-weight: 600;
  font-family: var(--font-primary);
  font-size: .9rem;
}

.avatar {
  display: block;
}

/* end avatar */

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.26rem;
  height: 2.26rem;
  border: none;
  background-color: #242424;
  cursor: pointer;
  border-radius: .3rem;
}

.notification_icon {
  display: block;
  width: 1rem;
  fill: #ffffff;
}
