/* ----------- profile ----------- */

.profile {
  padding: 1.4rem 0;
  display: grid;
  gap: 1.4rem;
}

/* ----------- title ----------- */

.title {
  display: block;
  width: 100%;
  font-family: var(--font-primary);
  letter-spacing: var(--spacing);
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

/* ----------- form ----------- */

.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  gap: 1.4rem;
  border-top: solid 1px #242424;
  padding-top: 1.4rem;
}

.form_label {
  display: block;
  font-family: var(--font-primary);
  letter-spacing: var(--spacing);
  font-size: .9rem;
  color: #ffffff;
  color: #acacac;
  text-transform: capitalize;
}

.form_span {
  color: #a4ff65;
  margin-left: .4rem;
}

.form_input {
  display: block;
  width: 100%;
  border: solid 1px #242424;
  background-color: #242424;
  font-family: var(--font-primary);
  letter-spacing: var(--spacing);
  font-size: 1rem;
  color: #fff;
  padding: .6rem 1rem;
  border-radius: .3rem;
  margin-top: .6rem;
}

.form_submit {
  font-family: var(--font-primary);
  letter-spacing: var(--spacing);
  font-size: .9rem;
  padding: .6rem 1rem;
  border-radius: .3rem;
  border: 1px solid #a9cf6d;
  background-color: #a4ff65;
  color: #242424;
  font-weight: 500;
  cursor: pointer;
}

.form_submit:disabled {
  background-color: #cbcbcb;
  border-color: #cbcbcb;
  cursor: wait;
}

/* --------- logout button --------- */

.logout {
  display: block;
  width: 100%;
  font-family: var(--font-primary);
  letter-spacing: var(--spacing);
  font-size: .84rem;
  font-size: .9rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #F96666;
  margin: 0 auto;
  padding: .6rem 0;
}

.logout:hover {
  text-decoration: underline;
}
